#ENM-anti {
     transform-origin: center;
    animation: moveAround 10s cubic-bezier(0.22, 1, 0.36, 1) infinite;
}
.hello {
  background-color: red;
}
@keyframes moveAround {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(1px, -2px); }
  50%  { transform: translate(-2px, 2px); }
  75%  { transform: translate(2px, 2px); }
  100% { transform: translate(0, 0); }
}
