@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    color-scheme: light;

}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-margarine: var(--font-margarine);
  --font-quicksand: var(--font-quicksand);

  --color-brown-900: #431407;
  --color-brown-800: #C98039;
  --color-brown-600: #D4A271;
  --color-brown-550: #E2C5AA;
  --color-brown-500: #FFE9D4;
  --color-brown-400: #F5E9DE;
  --color-brown-300: #FFF2E6;
  --color-brown-200: #FAEEE3;
  --color-brown-100: #FDF7F1;

  --color-stock-600: #D5B463;
  --color-stock-550: #DDCCA1;
  --color-stock-200: #F6EBD2;

  --color-product-600: #84C5CC;
  --color-product-550: #BDEAEF;
  --color-product-200: #DCFBFE;


   --radius-home: 36px;
  --shadow-drop-brown-card: inset 0 6px 0 rgba(255,255,255,0.25), 0 8px 0 var(--color-brown-200);
  --shadow-drop-stock-card: inset 0 6px 0 rgba(255,255,255,0.25), 0 8px 0 var(--color-stock-200);
  --shadow-drop-product-card: inset 0 6px 0 rgba(255,255,255,0.25), 0 8px 0 var(--color-product-200);


  --anim-shine-over-l: shine-over-l 520ms cubic-bezier(.2,.8,.25,1) both;
  --anim-shine-over-xs: shine-over-xs 1000ms cubic-bezier(.2,.8,.25,1) both;
  --anim-shine-origin-xs: shine-origin-xs 1000ms cubic-bezier(.2,.8,.25,1) both;
  
  --anim-bubble: bubble 1000ms cubic-bezier(.2,.8,.25,1) both;
  --anim-bubble-press: bubble-press 1000ms cubic-bezier(.2,.8,.25,1) both;
  
  --breakpoint-xs: 420px;

}

/* keyframes */
@keyframes shine-over-l {
  0%   { left: 0; } 
  100% { left: 100%; }   
}

@keyframes shine-over-xs {
  from   { transform: translateX(0%); }  
  to { transform: translateX(120%);} 
}
@keyframes shine-origin-xs {
  from   { transform: translateX(120%); }  
  to { transform: translateX(0%);} 
}

@keyframes bubble {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); 
} }
@keyframes bubble-press { 
  from {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); 
  }
  to {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brown-200);
    /* --foreground: #ededed; */
  }
}
html {
   background-color: var(--background);
   color-scheme: light;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bubble-button:hover .shine{
  animation: shine-over-xs 1000ms cubic-bezier(.2,.8,.25,1) forwards;
}

